{% extends "website/adminn.html" %}
<head>
    <meta charset="UTF-8">
    {% block title %} add images{% endblock %}
</head>
<body>
{% block content %}
<br><br><br><br>
    <div>   </div>
    <form method = "post"  align="center" enctype="multipart/form-data" style="color:white";>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button"  style="background-color:black; color:white; padding:15px; border-radius:20px;">
							UPLOAD
						</button>
    </form>

{% endblock %}
</body>
</html>