{% extends "website/base.html" %}
{% load static %}
{% block content %}

    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area bg-img bg-overlay-2by5" style="background-image:url({% static 'img/col21.jpg' %});height:400px ;" data-aos="fade" >
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Hero Content -->
                    <div class="hero-content text-center wow fadeInUp" data-wow-delay="500ms">
                         <h2 style= "color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #000000, 0 0 5px #000000;font-size:40px"><b>
President's Message<br></b></h2>
               
                      
                
                    </div>
                </div>
            </div>
        </div>

    </section><br>
     <section class="register-now section-padding-100-0 d-flex justify-content-between align-items-center" >
        <!-- Register Contact Form -->
        
            <div class="container-fluid mb-100 wow fadeInUp" data-wow-delay="250ms">
                <div class="row mb-5">
          <div class="col-12 text-center wow fadeInUp" data-wow-delay="250ms" >
            <h2 class="section-title mb-3" style="color:#0e3066; font-family:'Exotc350 DmBd BT'">President's Message</h2>
          </div>
        </div>
               <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 ">
                         <div class="container">

      <div class="thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
            <center><img src="{% static 'img/col8.jpg' %}" alt="Lights" style="width:100%;height:300px"></center>
          <div class="caption">
            <p><h3 style="color:orange"><center>Sardarni Balbir Kaur</center></h3>
<h5><center>President</center></h5></p>
          </div>
        </a>
      </div>

            </div>
                         </div>
                    <div class="col-md-8"><br><p style="color:black">Dear Students,<br>

I am glad to share with you that Lyallpur Khalsa College of Engineering, Jalandhar (LKCE) is a part of 100 years young–Khalsa College Lyallpur Education Charitable Trust. Located in the heart of Doaba region of Punjab, it has been established to prepare the students with technical and professional skills in the Engineering which is regarded as primary engine of economic growth, employment creation and prosperity. We believe that <b>"Learning how to do things better- matters"</b>. It is with this conviction that we have established LKCE armed with modern infrastructure, latest pedagogical aids & experienced and dedicated mentors.<br>

The management of LKCE is committed in its endeavor to provide students with the best of the employment opportunities. We emphasize greatly on industry inputs, hands on training and facilitate the students on developing essential abilities & capabilities to make them more adaptable to the dynamic corporate and industrial environment in global perspective.<br>

LKCE is a place, which ensures that the student receives a high quality education and an all round personality development.<br>

<b>Blessings<br>
Balbir Kaur</b><br>
</p>
            </div>
                            
                    
                   </div></div>
            
        </div>

        <!-- Register Now Countdown -->
        </section><br>
   
   <br><br><br>
     <!-- ##### Hero Area End ##### -->

    
   
    <!-- ##### Register Now Start ##### -->
    
    <!-- ##### Register Now End ##### -->
    
   
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Top Footer Area -->
        <div class="top-footer-area">
            <div class="container">
                <div class="row">
            <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <h3 class="footer-heading mb-4">About Us</h3>
                <p>The Lyallpur Khalsa College of Engineering got established in 2013 under the aegis of Khalsa College Lyallpur Education Charitable Trust.</p>
              </div>
                <div class="col-md-4">
                <h3 class="footer-heading mb-4">Addresss</h3>
                <ul class="list-unstyled">
            <li class="mb-2">Lyallpur Khalsa College of Engineering,Jalandhar</li>
            <li class="mb-2">9779251682</li>
            <li class="mb-2">9779251682</li>
            <li class="mb-2">preetkomal843@gmail.com</li>
          </ul></div>
              
              <div class="col-md-4 ml-auto">
                <h3 class="footer-heading mb-4 ">Quick Links</h3>
                <ul class="list-unstyled">
                  <li><a href="{%url 'about'%}">About Us</a></li>
                  <li><a href="{%url 'home'%}" >Services</a></li>
                  <li><a href="{%url 'home'%}">Home</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
          
                </div>
                </div>
                </div>
            </div>
        <br>
             <p><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                 Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="fa fa-heart-o" aria-hidden="true"></i></a> </p><br></div>
<!-- Link back to Color

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a href="#"><span>Phone:</span>9779251682</a>
                <a href="#"><span>Email:</span>  preetkomal843@.com</a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>Follow us</span>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
     <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>

</body>

</html>
{% endblock %}